/* Telas menores que 768px */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 1rem;
    }

    .logo img {
        height: 50px;
        margin-bottom: 1rem;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    main {
        padding: 1rem;
    }

    .banner {
        padding: 2rem 1rem;
    }

    .recruitment-form {
        padding: 1rem;
    }
}

/* Telas menores que 480px */
@media (max-width: 480px) {
    .banner h1 {
        font-size: 1.5rem;
    }

    .recruitment-form {
        padding: 1rem 0.5rem;
    }
}